{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<div class="content-wrapper">
    <div class="content-header row">
      	<div class="content-header-left col-md-6 col-12 mb-2 breadcrumb-new">
        	<h3 class="content-header-title mb-0 d-inline-block">About</h3>
        	<div class="row breadcrumbs-top d-inline-block">
          		<div class="breadcrumb-wrapper col-12"></div>
        	</div>
      	</div>
    </div>
    <div class="content-body">
    	<section class="row">
			<div class="col-md-12 col-sm-12">
			    <div id="with-header-border-0" class="card">
			        <div class="card-header">
			            <h4 class="card-title">Campus Activity</h4>
			            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
			            <div class="heading-elements">
			                <ul class="list-inline mb-0">
			                    <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
			                </ul>
			            </div>
			        </div>
			        <div class="card-content collapse show">
			            <div class="card-body">
			                <h4 class="card-title">Content title</h4>
			                <p class="card-text">Content body</p>
			            </div>
			        </div>
			    </div>
			</div>
		</section>
    </div>
</div>
{% endblock %}