{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block body_template %}2-columns menu-expanded fixed-navbar{% endblock %}
{% block content %}

<div class="content-wrapper">
    <div class="content-header row">
      	<div class="content-header-left col-md-6 col-12 mb-2 breadcrumb-new">
        	<h3 class="content-header-title mb-0 d-inline-block">Dashboard</h3>
        	<div class="row breadcrumbs-top d-inline-block">
          		<div class="breadcrumb-wrapper col-12"></div>
        	</div>
      	</div>
    </div>
    <div class="content-body">
    	<section class="row">
			<div class="col-md-12 col-sm-12">
			    <div id="with-header-border-0" class="card">
			        <div class="card-header">
			            <h4 class="card-title">Campus Activity</h4>
			            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
			            <div class="heading-elements">
			                <ul class="list-inline mb-0">
			                    <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
			                </ul>
			            </div>
			        </div>
			        <div class="card-content collapse show">
			            <div class="col-xl-12 col-12">
			                <div class="card-body pt-0">
			                  <div class="row mb-1">
			                    <div class="col-6 col-md-4">
			                      <h5>Total reports of this week</h5>
			                      <h2 class="danger">{{data['total_reports']}}</h2>
			                    </div>
			                    <div class="col-6 col-md-4">
			                      <h5>Total messages of this week</h5>
			                      <h2 class="text-muted">{{data['total_messages']}}</h2>
			                    </div>
			                  </div>
			                  <div class="chartjs">
			                    <canvas id="thisYearRevenue" width="400" data-values="{{data['report_counts']}}" data-timeline="{%for day in data['timeline']%}{{day}},{%endfor%}" style="position: absolute;"></canvas>
			                    <canvas id="lastYearRevenue" data-values="{{data['non_report_counts']}}" data-timeline="{%for day in data['timeline']%}{{day}},{%endfor%}" width="400"></canvas>
			                  </div>
			                </div>
			        	</div>
			    	</div>
				</div>
			</div>
		</section>
    </div>
</div>
{% endblock %}
{% block import_scripts %}
<script src="{{ url_for('static', filename='app-assets/vendors/js/charts/chart.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='app-assets/js/scripts/pages/dashboard-sales.js') }}" type="text/javascript"></script>
{% endblock %}