<nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-dark navbar-shadow">
    <div class="navbar-wrapper">
      <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
          <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu font-large-1"></i></a></li>
          <li class="nav-item mr-auto"><a class="navbar-brand" href="#"><img class="brand-logo" alt="modern admin logo" src="{{ url_for('static', filename='app-assets/images/logo/logo.png') }}">
              <h3 class="brand-text">Modern Admin</h3></a></li>
          <li class="nav-item d-md-none"><a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="la la-ellipsis-v"></i></a></li>
        </ul>
      </div>
      <div class="navbar-container content">
        <div class="collapse navbar-collapse" id="navbar-mobile">
          <ul class="nav navbar-nav mr-auto float-left">
            <li class="nav-item d-none d-md-block"><a class="nav-link nav-link-expand"><i class="ficon ft-maximize"></i></a></li>
          </ul>
          <ul class="nav navbar-nav float-right">
            <li class="dropdown dropdown-user nav-item">
              <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
                <span class="mr-1">Hello,
                  <span class="user-name text-bold-700">Administrator</span>
                </span>
                <span class="avatar avatar-online">
                  <img src="{{ url_for('static', filename='app-assets/images/portrait/small/avatar-s-19.png') }}" alt="avatar"><i></i></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="/students"><i class="la la-users"></i> Student Directory</a>
                <a class="dropdown-item" href="/mass-message"><i class="la la-paper-plane"></i> Send Mass Message</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout"><i class="ft-power"></i> Logout</a>
              </div>
            </li>
            <li class="dropdown dropdown-notification nav-item">
              <a class="nav-link nav-link-label" href="#" data-toggle="dropdown"><i class="ficon ft-mail"></i>
                <span class="badge badge-pill badge-default badge-warning badge-default badge-up badge-glow" id="header-message-count">{{data['unread_students']|length}}</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                <li class="dropdown-menu-header">
                  <h6 class="dropdown-header m-0">
                    <span class="grey darken-2">Messages</span>
                  </h6>
                </li>
                  <li class="scrollable-container media-list w-100 ps-container ps-theme-dark" data-ps-id="a8ba6310-7aaf-a8e0-4842-959ba0002a52" id="header-messages">
                    {% if data['unread_students']|length==0 %}<span id="no-unread-reader"><br>&nbsp;&nbsp;No unread messages<br><br></span>{%endif%}
                    {% for student in data['unread_students'] %}
                      <a href="/chat/{{student[0]}}">
                        <div class="media">
                          <div class="media-left">
                            <span class="avatar avatar-sm avatar-online rounded-circle">
                              <img src="{{ url_for('static', filename='app-assets/images/portrait/small/avatar-s-19.png') }}" alt="avatar"></span>
                          </div>
                          <div class="media-body">
                            <h6 class="media-heading">{{student[1]}} {{student[2]}}</h6>
                            <p class="notification-text font-small-3 text-muted">{{student[3]}}</p>
                            <small>
                              <time class="media-meta text-muted">{{student[8]}}</time>
                            </small>
                          </div>
                        </div>
                      </a>
                    {% endfor %}
                  <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></li>
                <li class="dropdown-menu-footer"><a class="dropdown-item text-muted text-center" href="/chat">Read all messages</a></li>
              </ul>
            </li>
            
            <li class="dropdown dropdown-notification nav-item">
              <a class="nav-link nav-link-label" href="#" data-toggle="dropdown"><i class="ficon ft-bell"></i>
                <span class="badge badge-pill badge-default badge-danger badge-default badge-up badge-glow report-num" id="header-report-count">{{data['today_reports']|length}}</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                <li class="dropdown-menu-header">
                  <h6 class="dropdown-header m-0">
                    <span class="grey darken-2">Reports Today</span>
                  </h6>
                </li>
                <li class="scrollable-container media-list w-100 ps-container ps-theme-dark" data-ps-id="81d859a4-ed89-5062-f715-20ac7979ebe4" id="header-reports">
                  {% if data['today_reports']|length==0 %}<span id="no-reports"><br>&nbsp;&nbsp;No reports<br><br></span>{%endif%}
                  {% for report in data['today_reports'] %}
                    <a href="/chat/{{report[0]}}">
                      <div class="media">
                        <div class="media-left align-self-center"><i class="ft-file icon-bg-circle bg-danger"></i></div>
                        <div class="media-body">
                          <h6 class="media-heading red darken-1">{{report[1]}} {{report[2]}}</h6>
                          <p class="notification-text font-small-3 text-muted">{{ report[3] }}</p>
                          <small>
                            <time class="media-meta text-muted">{{report[4]}}</time>
                          </small>
                        </div>
                      </div>
                    </a>
                  {% endfor %}
                <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></li>
                <li class="dropdown-menu-footer"><a class="dropdown-item text-muted text-center" href="/reports">Read all reports</a></li>
              </ul>
            </li>
            
          </ul>
        </div>
      </div>
    </div>
</nav>